<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
<p class="small">Order Fee: {{order.grandTotal}}Baht</p>
<p class="small">Order ID: {{order.key}}</p>
<div class="alert alert-warning" role="alert">
  Check Contraband, Call User to make payment
</div>
<app-user-info-card [uid]="order.uid"></app-user-info-card>
<ul>
  <li *ngFor="let prd of prds">
    <app-mini-prd-cell [prd]="prd"></app-mini-prd-cell>
  </li>
</ul>