<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
<p>{{uid}}</p>
<div class="card">
  <p><i class="fas fa-user"></i>{{(userAddress | async)?.consignee}}</p>
  <p><i class="fas fa-phone"></i>{{(userAddress | async)?.phone}}</p>
  <p><i class="fas fa-mail-bulk"></i>{{(userAddress | async)?.postCode}}</p>
  <p><i class="fas fa-city"></i>{{(userAddress | async)?.city}}</p>
  <p><i class="fas fa-map-marker-alt"></i>{{(userAddress | async)?.address}}</p>
</div>