<div class="container-fluid">
  <div class="row">
    <div class="col-sm bg-light">
      <h3>ORDERS AT BANGKOK</h3>
      <app-orders-ready-for-delivery></app-orders-ready-for-delivery>
    </div>

    <div class="col-sm bg-warning">
      <h3>SELF PICK UP ORDERS</h3>
      <app-self-picking-orders></app-self-picking-orders>
    </div>

    <div class="col-sm bg-primary">
      <h3>EMS ORDERS</h3>
      <app-ems-orders></app-ems-orders>
    </div>

    <div class="col-sm bg-danger">
      <h3>KERRY ORDERS</h3>
      <app-kerry-orders></app-kerry-orders>
    </div>
  </div>
</div>