<div class="container">
    <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col" class="small">Company</th>
            <th scope="col" class="small">PACKAGE ID</th>
            <th scope="col" class="small">Part 1(THB)</th>
            <th scope="col" class="small">Weight(Kg)</th>
            <th scope="col" class="small">Size(m3)</th>
            <th scope="col" class="small">Dimension(cm)</th>
            <th scope="col" class="small">Price/m3</th>
            <th scope="col" class="small">Note</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parce of parcels">
            <td scope="row">
              <p class="small">{{parce.company}}</p>
            </td>
            <td scope="row">
              <p class="small">{{parce.danhao}}</p>
            </td>
            <td scope="row">
              <p class="small">{{toThaiBaht(parce.yunfei)}}</p>
            </td>
            <td scope="row">
              <p class="small">{{parce.weight}}</p>
            </td>
            <td scope="row">
              <p class="small">{{parce.size}}</p>
            </td>
            <td class="row">
              <p class="small">{{parce.tpiId}}</p>
            </td>
            <td scope="row">
              <p class="small">{{parce.unitPrice}}</p>
            </td>
            <td scope="row">
              <p class="small">{{parce.remark}}</p>
            </td>
          </tr>
        </tbody>
      </table>

      <p><span>Total Part 1 + part 2 = {{sum() | number}}Baht</span></p>

</div>
