<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="auth.loggedIn | async">
  <a class="navbar-brand" routerLink="orders">
    <img src="./assets/icon.png" height="30px" width="30px"><span class="small ml-1">ALITOYOU</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders">Orders List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/delivery">Delivery</a>
      </li>
    </ul>
    <span class="navbar-text mr-5">
      <button (click)="auth.signOut()" class="btn btn-outline-danger btn-sm">Log out</button>
    </span>
  </div>
</nav>