<div class="container-fluid">
  <div class="row">

    <div class="col-sm bg-light">
      <h3>NEW ORDERS</h3>
      <app-new-order></app-new-order>
    </div>

    <div class="col-sm bg-secondary">
      <h3>BILL UPLOADED ORDERS</h3>
      <app-bill-uploaded-order></app-bill-uploaded-order>
    </div>

    <div class="col-sm bg-info">
      <h3>PAID ORDERS</h3>
      <app-paid-orders-cell></app-paid-orders-cell>
    </div>

    <div class="col-sm bg-success">
      <h3>BOUGHT ORDERS</h3>
      <app-bought-order></app-bought-order>
    </div>
  </div>
</div>