<p>订单货款: {{order.cnyPrdsFee}}</p>
<p>Part1 shipping fee: {{order.cnyShippingFee}} CNY</p>
<p>Part2 Shipping fee: {{order.parttwo}} THB</p>
<p>Part3 Shipping fee: {{order.partthree}} THB</p>
<p>Final Shipping fee: {{order.actualShippingCost}}</p>
<p>运单号：<span>{{order.trackId}}</span></p>
<button type="button" (click)="setOrderDone()" class="btn btn-primary btn-sm">订单已完成</button>
<app-user-info-card [uid]="order.uid"></app-user-info-card>
<br>
<div class="row">
    <div *ngIf="order.shippingFeeBillUploaded" class="col">
        <h4>SHIPPING FEE BILL</h4>
        <img [src]="order.shippingBillUrl" width="100%" height="100%">
        <button *ngIf="!order.shippingFeePaid" type="button" class="btn btn-sm btn-info" (click)="toggleShippingFeePaid(true)">收到运费付款</button>
        <button *ngIf="order.shippingFeePaid" type="button" class="btn btn-sm btn-info" (click)="toggleShippingFeePaid(false)">未收到运费付款</button>
    </div>
</div>
<ul>
  <li *ngFor="let prd of prds">
    <app-mini-prd-cell [prd]="prd"></app-mini-prd-cell>
  </li>
</ul>