<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <ul>
    <li class="small"> ORDER ID: {{order.key}}</li>
    <li class="small"> 订单货款: {{order.cnyPrdsFee}}¥</li>
    <li class="small">Part1 shipping fee: {{order.cnyShippingFee}}¥</li>
    <li class="small">Part2 Shipping fee: {{order.parttwo}} THB</li>
    <li class="small">Part3 Shipping fee: {{order.partthree}} THB</li>
    <li class="small"><span class="badge badge-info">Final Shipping fee: {{order.actualShippingCost}}</span></li>
    <li class="small">Actual Weight: {{order.actualWeight}}KG</li>
    <li class="small">运单号：<span>{{order.trackId}}</span></li>
  </ul>
  <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="TRACKING ID" aria-label="Tracking ID"
        aria-describedby="button-addon2" #tackingid>
      <div class="input-group-append">
        <button class="btn btn-success" type="button" id="button-addon2"
          (click)="updateTrackingId(tackingid.value)">SET TRACKING NUMBER</button>
      </div>
    </div>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="button" (click)="toggleShippingFeePaid(true)" class="btn btn-danger btn-sm">SHIPPING FEE PAID</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="button" (click)="toggleShippingFeePaid(false)" class="btn btn-success btn-sm">SHIPPING FEE NOT PAID</button>
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
          <button type="button" (click)="setOrderDone()" class="btn btn-info btn-sm">订单已完成</button>
      </div>
    </div>
<app-user-info-card [uid]="order.uid"></app-user-info-card>
<br>
<div class="row">
    <div *ngIf="order.shippingFeeBillUploaded" class="col">
        <h4>SHIPPING FEE BILL</h4>
        <img [src]="order.shippingBillUrl" width="100%" height="100%">
        <button *ngIf="!order.shippingFeePaid" type="button" class="btn btn-sm btn-info" (click)="toggleShippingFeePaid(true)">收到运费付款</button>
        <button *ngIf="order.shippingFeePaid" type="button" class="btn btn-sm btn-info" (click)="toggleShippingFeePaid(false)">未收到运费付款</button>
    </div>
</div>
<ul>
  <li *ngFor="let prd of prds">
    <app-mini-prd-cell [prd]="prd"></app-mini-prd-cell>
  </li>
</ul>