<p>订单货款: <span>{{order.cnyPrdsFee}}</span> <span>国内运费: {{order.cnyShippingFee}}</span></p>
<app-user-info-card [uid]="order.uid"></app-user-info-card>

<br>

<div *ngIf="order.arrived">
    <button type="button" (click)="setToSelfPicking()" class="btn btn-secondary btn-sm">自提</button>
    <button type="button" (click)="setToEms()" class="btn btn-danger btn-sm">EMS</button>
    <button type="button" (click)="setToKerry()" class="btn btn-warning btn-sm">KERRY</button>

</div>

<div *ngIf="!order.arrived">

  <p>商品是否已经到齐了</p>
  <button type="button" (click)="setOrderArrived()" class="btn btn-success btn-sm">商品已到齐</button>

</div>

<ul>
  <li *ngFor="let prd of prds">
    <app-mini-prd-cell [prd]="prd"></app-mini-prd-cell>
  </li>
</ul>
