<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
<ul>
  <li class="small"> Order ID: {{order.key}}</li>
  <li class="small">Order Fee: {{order.grandTotal}}Baht</li>
  <li class="small">Evaluated Shipping fee: {{order.evaluatedShippingFee}}</li>
  <li class="small">订单货款: {{order.cnyPrdsFee}}CNY</li>
  <li class="small">国内运费: {{order.cnyShippingFee}}CNY</li>
  <li class="small">Actual Weight: {{order.actualWeight}}KG</li>
  <li class="small">Shipping Cost : {{order.parttwo}}Baht</li>
</ul>
<div *ngIf="!order.arrived" class="input-group">
  <textarea class="form-control" [(ngModel)]="order.yundanhaos" #danhao></textarea>
  <div class="input-group-append">
    <button class="btn btn-info" (click)="saveDanhao(danhao.value)">SAVE TRACKING IDs</button>
  </div>
</div>
<div *ngIf="order.arrived">
  <textarea class="form-control" value={{order.yundanhaos}} #danhao></textarea>
</div>
<br>
<app-user-info-card [uid]="order.uid"></app-user-info-card>

<br>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" *ngIf="order.arrived">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary" (click)="setToSelfPicking()">PICK UP</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-danger" (click)="setToEms()">EMS</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-warning" (click)="setToKerry()">KERRY</button>
  </div>
</div>

<div *ngIf="!order.arrived">

  <p>商品是否已经到齐了</p>

  <div class="m-3">
    <button type="button" class="btn btn-success btn-block" (click)="gotoPrintPage()"><i
        class="fas fa-file-pdf"></i>PRINT PACKING LIST</button>
  </div>
  <div class="input-group">
    <input type="number" placeholder="Actual Weight" #actualweight>
    <input type="number" placeholder="Actural Shipping Cost" #tpicost>
    <div class="input-group-append">
      <button type="button" (click)="setOrderArrived(actualweight.value, tpicost.value)"
        class="btn btn-success">ARRIVED</button>
    </div>
  </div>

</div>

<ul>
  <li *ngFor="let prd of prds">
    <app-mini-prd-cell [prd]="prd"></app-mini-prd-cell>
  </li>
</ul>