<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <ul>
    <li class="small"> Order ID: {{order.key}}</li>
    <li class="small">Order Fee: {{order.grandTotal}}Baht</li>
    <li class="small">Evaluated Shipping fee: {{order.evaluatedShippingFee}}</li>
    <li class="small">订单货款: {{order.cnyPrdsFee}}CNY</li>
    <li class="small">国内运费: {{order.cnyShippingFee}}CNY</li>
    <li class="small">Actual Weight: {{order.actualWeight}}KG</li>
    <li class="small">Shipping Cost : {{order.parttwo}}Baht</li>
  </ul>
<app-user-info-card [uid]="order.uid"></app-user-info-card>
<br>
<button type="button" class="btn btn-success btn-block" (click)="gotoPrintPage()"><i class="fas fa-file-pdf"></i>PRINT
  PACKING LIST</button>
<br>
<div class="input-group">
    <input type="number" placeholder="Part 1 THB" #partone>
  <input type="number" placeholder="Part 2 Shipping fee" #parttwo>
  <input type="number" placeholder="Part 3 Shipping fee" #partthree>
  <input type="text" placeholder="Track Number" #ordertracking>

  <div class="input-group-append">
    <button type="button" (click)="updateWeightAndShippingFee(partone.value, parttwo.value, partthree.value, ordertracking.value)"
      class="btn btn-primary">SET TRACK ID & SHIPPING FEE</button>
  </div>
</div>

<ul>
  <li *ngFor="let prd of prds">
    <app-mini-prd-cell [prd]="prd"></app-mini-prd-cell>
  </li>
</ul>