<p class="small">Product Fee:{{order.grandTotal}}</p>
<p class="small">Total QTY:{{order.totalQty}} ITEMS</p>
<p class="small">Order ID : {{order.key}}</p>
<button *ngIf="!order.paid" type="button" class="btn btn-sm btn-info ml-2" (click)="togglePaymentStatus(true)" >PAID</button>
<button *ngIf="order.paid" type="button" class="btn btn-sm btn-danger  ml-2" (click)="togglePaymentStatus(false)" >NOT PAID</button>
<input type="text" placeholder="Estimated Shipping Fee" #paidpageeshippingfee>
  <button type="button" (click)="setEstimatedShippingFee(paidpageeshippingfee.value)" class="btn btn-success btn-sm">Inform Shipping Fee</button>

<app-user-info-card [uid]="order.uid"></app-user-info-card>

<br>
<input type="number" placeholder="CNY货款PRODUCT FEE IN CNY" #prdfee><br>
<input type="number" placeholder="CNY运费SHIPPING FEE IN CNY" #shippingfee>
<button type="button" (click)="setPrdsBought(prdfee.value,shippingfee.value)" class="btn btn-primary btn-sm">PRODUCTS PURCHASED</button>

<ul>
  <li *ngFor="let prd of prds">
    <app-mini-prd-cell [prd]="prd"></app-mini-prd-cell>
  </li>
</ul>
